<app-template [sidebar]="true">
  <div class="main_content">
    <div class="mcontainer">

      <app-user-profile-header></app-user-profile-header>

      <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">
        <!-- Timeline -->
        <app-profile-timeline></app-profile-timeline>

        <!-- Followers  -->
        <app-profile-followers></app-profile-followers>

        <!-- Photos  -->
        <app-profile-photos></app-profile-photos>

        <!-- Videos -->
        <app-profile-videos></app-profile-videos>
      </div>
    </div>
  </div>
</app-template>
