<div class="sidebar">
  <div class="sidebar_header">
    <img src="assets/images/logo.png" alt="">
    <img src="assets/images/logo-icon.png" class="logo-icon" alt="">

    <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></span>
  </div>

  <div class="sidebar_inner" data-simplebar>

    <ul>
      <li class="active">
        <a href="feed.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-600">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span>Inicio</span>
        </a>
      </li>

      <li id="more-viww">
        <a href="albums.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-500">
            <path fill-rule="evenodd"
              d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
              clip-rule="evenodd" />
          </svg>
          <span>Fotos</span>
        </a>
      </li>

      <li><a href="videos.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500">
            <path fill-rule="evenodd"
              d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm3 2h6v4H7V5zm8 8v2h1v-2h-1zm-2-2H7v4h6v-4zm2 0h1V9h-1v2zm1-4V5h-1v2h1zM5 5v2H4V5h1zm0 4H4v2h1V9zm-1 4h1v2H4v-2z"
              clip-rule="evenodd" />
          </svg>
          <span>Videos</span></a>
      </li>
      <li><a href="groups.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-500">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
          </svg><span>A quién seguir</span></a>
      </li>

      <li><a href="blogs.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500">
            <path fill-rule="evenodd"
              d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
              clip-rule="evenodd" />
            <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
          </svg>
          <span>Acerca de</span></a>
      </li>
    </ul>

    <hr>


    <h3 class="text-lg mt-3 font-semibold ml-2 is-title" *ngIf="isLoggedIn$ | async">Siguiendo</h3>
    <div class="contact-list my-2 ml-1" *ngIf="isLoggedIn$ | async">
      <a href="timeline.html">
        <div class="contact-avatar">
          <img src="assets/images/avatars/avatar-1.jpg" alt="">
          <span class="user_status status_online"></span>
        </div>
        <div class="contact-username"> Dennis Han</div>
      </a>
    </div>
  </div>

</div>
