<div class="container-fluid p-0 m-0">
  <div class="row m-0 p-0">
    <app-header background="bg-dark"></app-header>
  </div>
  <div class="row m-0 p-0">
    <app-index-carousel class="m-0 p-0" vHeight="height: 60vh;">
      <app-search-carousel></app-search-carousel>
    </app-index-carousel>
  </div>
  <div class="row m-0 p-0">
    <app-home-tabs class="p-0 m-0"></app-home-tabs>
  </div>
  <div class="row m-0 p-0">
    <app-posts class="p-0 m-0"></app-posts>
  </div>
  <div class="row m-0 p-0">
    <app-footer class="p-0 m-0"></app-footer>
  </div>
</div>
