<div class="profile user-profile">
  <div class="profiles_banner">
    <img src="assets/images/avatars/profile-cover.jpg" alt="">
    <div class="profile_action absolute bottom-0 right-0 space-x-1.5 p-3 text-sm z-50 hidden lg:flex">
      <a href="#"
        class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
        <!-- <ion-icon name="crop-outline" class="text-xl"></ion-icon> -->
        <span> Crop </span>
      </a>
      <a href="#" class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
        <!-- <ion-icon name="create-outline" class="text-xl"></ion-icon> -->
        <span>Editar</span>
      </a>
    </div>
  </div>
  <div class="profiles_content">
    <div class="profile_avatar">
      <div class="profile_avatar_holder">
        <img class="img-fluid" src="assets/img/user/user.png" alt="">
      </div>
    </div>
  </div>

  <div class="flex justify-between lg:border-t flex-col-reverse lg:flex-row">
    <nav class="responsive-nav pl-2 is_ligh -mb-0.5 border-transparent">
      <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
        <li><a href="#">Timeline</a></li>
        <li><a href="#">Seguidores <span>3,243</span> </a></li>
        <li><a href="#">Fotos</a></li>
        <li><a href="#">Videos</a></li>
      </ul>
    </nav>
  </div>
</div>
