<div class="header_search"><i class="uil-search-alt"></i>
  <input value="" type="text" class="form-control" placeholder="Busca por fotos y videos" autocomplete="off">
  <div uk-drop="mode: click" class="header_search_dropdown">

    <h4 class="search_title">Buscados recientemente</h4>
    <ul style="padding-left: 0;">
      <li>
        <a href="#">
          <img src="assets/images/avatars/avatar-1.jpg" alt="" class="list-avatar">
          <div class="list-name"> Erica Jones </div>
        </a>
      </li>
    </ul>

  </div>
</div>
