<div class="bg-white py-2 shadow dark:bg-gray-800">
  <div class="max-w-6xl mx-auto">
      <div class="flex items-center lg:justify-between justify-around">
          <a href="trending.html">
              <img src="assets/images/logo.png" alt="" class="w-32">
          </a>

          <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
              <button routeLink="login" class="py-3 px-4">Ingresar</button>
              <button routeLink="register" class="bg-purple-500 purple-500 px-6 py-3 rounded-md shadow text-white">Registrarse</button>
          </div>

      </div>
  </div>
</div>
